/* Start Variables */
:root {
  --main-color: #2196f3;
  --alt-main-color: #1787e0;
}
/* End Variables */
/* Start Components */
/* End Components */
/* Start Global Rules */
html {
  -webkit-scroll-behavior: smooth;
  -moz-scroll-behavior: smooth;
  scroll-behavior: smooth;
}
body {
  font-family: "Cairo", sans-serif;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
a {
  text-decoration: none;
}
input:focus {
  outline: none;
}
.container {
  padding-left: 15px; /* For mobile */
  padding-right: 15px; /* For mobile */
  margin: 0 auto;
  background-color: orange;
}
/* Small Screens */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium Screens */
@media (min-width: 992px) {
  .container {
    width: 9700px;
  }
}
/* Large Screens */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global Rules */
