/* Start Variables */
:root {
  --main-color: #2196f3;
  --alt-main-color: #1787e0;
  --main-transition: 0.3s;
  --main-section-padding: 80px;
}
/* End Variables */
/* Start Components */
 /* Start Main Hover effect */
  .main-hover-effect{
    color: var(--main-color);
    transition: var(--main-transition);
  }
  .main-hover-effect:hover {
    color: var(--alt-main-color);
  }
 /* End Main Hover effect */

  /* Start Main title */
.main-title {
  margin: 0 auto 100px;
  border: 2px solid black;
  width: fit-content;
  padding: 10px 20px;
  font-size: 30px;
  position: relative;
  z-index: 1;
  transition: var(--main-transition);
  text-transform: uppercase;
}
.main-title::before,
.main-title::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: var(--main-color);
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}
.main-title::before {
  left: -30px;
}
.main-title::after {
  right: -30px;
}
.main-title:hover::before {
  z-index: -1;
  animation: move-left 0.5s linear forwards;
}
.main-title:hover::after {
  z-index: -1;
  animation: move-right 0.5s linear forwards;
}
.main-title:hover {
  color: white;
  border: 2px solid white;
  transition-delay: 0.5s;
}
    /* Start Animation */
@keyframes move-left {
  50% {
    left: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    left: 0;
    width: 50%;
    height: 100%;
    border-radius: 0;
  }
}
@keyframes move-right {
  50% {
    right: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    right: 0;
    width: 50%;
    height: 100%;
    border-radius: 0;
  }
}
    /* End Animation */
  /* End Main title */

/* End Components */
/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  -webkit-scroll-behavior: smooth;
  -moz-scroll-behavior: smooth;
  scroll-behavior: smooth;
}
body {
  font-family: "Cairo", sans-serif;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
a {
  text-decoration: none;
}
input:focus {
  outline: none;
}
.container {
  padding-left: 15px; /* For mobile */
  padding-right: 15px; /* For mobile */
  margin: 0 auto;
}
/* Small Screens */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium Screens */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large Screens */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global Rules */
/* Start Header */
header {
  background-color: white;
  box-shadow: 0 0 10px #ddd;
  position: relative;
}
header .container {
  /* Start Local variable */
  --logo-height:75px;
  /* End Local variable */
  flex-wrap: wrap;
  position: relative;
}
header .container .logo {
  font-size: 26px;
  font-weight: bold;
  height: var(--logo-height);
  justify-content: center;
}
@media (max-width: 767px) {
  header .container .logo {
    width: 100%;
    height: calc(var(--logo-height) - 20px);
  }
}
header .container  .main-nav {
  display: flex;
}
@media (max-width: 767px) {
  header .container  .main-nav {
    margin: 0 auto;
  }
}
header .container  .main-nav > li:hover .mega-menu {
  opacity: 1;
  z-index: 100;
  top: calc(100% + 1px);
}
header .container  .main-nav > li > a {
  justify-content: center;
  height: var(--logo-height);
  padding: 0 30px;
  transition: var(--main-transition);
  position:relative;
  overflow: hidden;
  color: black;
}
@media (max-width: 767px) {
  header .container  .main-nav > li > a {
    height: calc(var(--logo-height) - 25px);
    font-size: 16px;
    padding: 0 10px;
  }
}
/* Fold display */
@media (max-width: 280px) {
  header .container .logo {
    font-size: 20px;
  }
  header .container  .main-nav > li > a {
    padding: 0 8px;
    font-size: 13px;
  }
}
header .container  .main-nav > li > a:hover {
  background-color: #f5f5f5;
  color: var(--main-color);
}

header .container  .main-nav > li > a::before {
  content: "";
  position: absolute;
  width: 100%;
  top: 0;
  left: -100%;
  height: 2px;
  background-color: var(--main-color);
  transition: var(--main-transition);
}
header .container  .main-nav > li > a:hover::before {
  left: 0;
}

header .mega-menu {
  position: absolute;
  left: 0;
  width: 100%;
  padding: 30px;
  background-color: white;
  z-index: -1;
  opacity: 0;
  border-bottom: 3px solid var(--main-color);
  display: flex;
  gap: 40px;
  top: calc(100% + 50px);
  transition: top var(--main-transition), opacity var(--main-transition);
}
@media (max-width: 767px) {
  header .mega-menu {
    flex-direction: column;
    gap: 0;
    padding: 15px;
  }
  
}
header .mega-menu .img  img{
  max-width: 100%;
}
@media (max-width: 991px) {
  header .mega-menu .img img {
    display: none;
  }
}
header .mega-menu .links{
  min-width: 200px;
  flex: 1;
}
header .mega-menu .links li:not(:last-child) {
  border-bottom: 1px solid #e6e6e6;
}
@media (max-width: 767px) {
  header .mega-menu .links:first-of-type li:last-child {
    border-bottom: 1px solid #e6e6e6;
  }
}
header .mega-menu .links li{
  position: relative;
}
header .mega-menu .links li::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  z-index: -1;
  background-color: #f5f5f5;
  transition: var(--main-transition);
}
header .mega-menu .links li:hover::before{
  width: 100%;
}
header .mega-menu .links li i {
  color: var(--main-color);
  font-size: 18px;
  margin-right: 10px;
}

header .mega-menu .links li a{
  color:var(--main-color);
  padding: 15px 15px 15px 0;
  display: inline-block;
}
/* End Header */
/* Start Landing */
.landing {
  position: relative;
}
.landing::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #ECECEC;
  transform: skewY(-6deg);
  transform-origin: top left;
  z-index: -1;
}
.landing .container {
  display: flex;
  align-items: center;
  min-height: calc(100vh - 75px);
  padding-bottom: 100px;
}
@media (max-width: 767px) {
  .landing .container {
    min-height: calc(100vh - 105px);
  }
}
.landing .container .landing-text{
  flex: 1;
}
@media (max-width: 991px) {
  .landing .container .landing-text {
    text-align: center;
  }
}
.landing .container .landing-text h1{
  font-size: 33px;
  font-weight: 800;
}
.landing .container .landing-text p{
  color: rgb(0, 0, 0);
  line-height: 1.6;
  margin-bottom: 0;
  font-size: 18px;
  max-width: 500px;
}
@media (max-width: 991px) {
  .landing .container .landing-text p {
    margin-left: auto;
    margin-right: auto;
  }
}
.landing .container .landing-image {
  width: 500px;
  animation: up-down infinite 2s;
}
@media (max-width: 991px) {
  .landing .container .landing-image { 
    display: none;
  }
}
.landing .go-down {
  bottom: 20px;
  animation: bouncing infinite 2s;
}
/* End Landing */

/* Start Articles */
.articles {
  padding-top: var(--main-section-padding);
  padding-bottom: var(--main-section-padding);
}

.articles .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
}
.articles .container .article-box{
  border: 1px solid #e6e6e6;
  box-shadow: 0 0 10px #ddd;
  background-color: white;
  border-radius: 5px;
  overflow: hidden;
  transition: transform var(--main-transition), box-shadow var(--main-transition);
}
.articles .container .article-box:hover {
  transform:translateY(-10px);
  box-shadow: 0 0 10px #2195f395;

}
.articles .container .article-box img{
  max-width: 100%;
}
.articles .container .article-box .text{
  padding: 20px;
  border-bottom: 1px solid #e6e6e6;
}

.articles .container .article-box .text .article-desc{
  line-height: 1.6;
  color: #777;
}
.articles .container .article-box .info {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.articles .container .article-box .info::before {
  content:"";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0%;
  z-index: -1;
  background-color: #f5f5f5;
  transition: var(--main-transition);
}
.articles .container .article-box .info:hover::before {
  width: 100%;
}
.articles .container .article-box .info a{
  font-weight: bold;
}
.articles .container .article-box .info i{
  color: var(--main-color);
}
.articles .container .article-box:hover  .info i{
  animation: moving-arrow 0.6s linear infinite;
}

/* End Articles */
/* Start Gallery */
.gallery {
  padding-top: var(--main-section-padding);
  padding-bottom: var(--main-section-padding);
  position: relative;
  background-color: #ececec;
}
.gallery .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}
.gallery .container .gallery-box{
  background-color: white;
  padding: 15px;
  box-shadow: 
  0px 0 7px 0px #17141470,
  0px 0px 2px 3px #c3dff695;;
  
}
.gallery .container .gallery-box .image-box{
  position: relative;
  overflow: hidden;
  font-size: 0; /* To fix image container */
}
.gallery .container .gallery-box .image-box::before {
  content:"";
  position: absolute;
  height: 0;
  width: 0;
  top: 50%;
  left: 50%;
  background-color: rgba(255, 255, 255, 0.313);
  transform: translate(-50%,-50%);
  opacity: 0;
  z-index: 1;
}
.gallery .container .gallery-box .image-box:hover::before {
  animation: flashing 0.7s;
}
.gallery .container .gallery-box .image-box img{
  max-width: 100%;
  transition: var(--main-transition);
}
.gallery .container .gallery-box .image-box:hover img {
  transform: rotate(2deg) scale(1.1);
}
/* End Gallery */
/* Start Features */
.features {
  padding-top: var(--main-section-padding);
  padding-bottom: var(--main-section-padding);
}
.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}
.features .container .feature-box{
  background-color: white;
  border: 1px solid #e6e6e6;
  text-align: center;
}
.features .container .feature-box .image{
  position: relative;
  font-size: 0;
  overflow: hidden;
}
.features .container .feature-box .image::before {
  content: "";
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}
.features .container .feature-box:first-child .image::before {
  background-color: rgba(255, 0, 0, 0.3);
}
.features .container .feature-box:nth-child(2) .image::before {
  background-color:#0097854c ;
}
.features .container .feature-box:last-child .image::before {
  background-color:#07a6f550 ;
}
.features .container .feature-box .image::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  border-style: solid;
  border-width: 0px 0px 134px 500px;
  border-color: transparent transparent white transparent;
  z-index: 1;
  transition: var(--main-transition);
}
.features .container .feature-box:hover .image::after {
  border-width: 0px 400px 134px 500px;
}
.features .container .feature-box .image img{
  max-width: 100%;
}
.features .container .feature-box h3{
  font-size: 26px;
  font-weight: bold;
  width: fit-content;
  padding: 0 0 15px;
  margin: 30px auto 15px;
  position: relative;
}
.features .container .feature-box h3::before {
  content: '';
  position: absolute;
  width: 80%;
  height: 4px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.features .container .feature-box:first-child h3::before {
  background-color: #F64436;
}
.features .container .feature-box:nth-child(2) h3::before {
  background-color: #04968A;
}
.features .container .feature-box:last-child h3::before {
  background-color: #00A9F3;
}
.features .container .feature-box p{
  margin-bottom: 30px;
  line-height: 1.7;
  padding: 0 10px;
  color: #888;
}
.features .container .feature-box a{
  display: block;
  width: fit-content;
  padding: 10px 20px;
  border-width: 3px;
  border-style: solid;
  margin: 0 auto 30px;
  font-weight: bold;
  border-radius: 5px;
  background-size: 200% 100%;
  background-position: bottom right;
  transition: var(--main-transition);
}
.features .container .feature-box:first-child a {
  color: #F64436;
  border-color: #F64436;
  background-image: linear-gradient(to right, #F64436 50%, white 50%);

}
.features .container .feature-box:nth-child(2) a {
  color: #04968A;
  border-color: #04968A;
  background-image: linear-gradient(to right, #04968A 50%, white 50%);
}
.features .container .feature-box:last-child a {
  color: #00A9F3;
  border-color: #00A9F3;
  background-image: linear-gradient(to right, #00A9F3 50%, white 50%);

}
.features .container .feature-box:hover a {
  background-position: bottom left;
  color: white;
}
/* End Features */
/* Start Testimonials */
.testimonials {
  padding-top: var(--main-section-padding);
  padding-bottom: var(--main-section-padding);
  background-color: #ececec;
}
.testimonials .container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}
.testimonials .container .box {
  background-color: white;
  position: relative;
  margin-bottom: 15px;
  padding: 20px;
}
@media (max-width: 767px) {
  .testimonials .container .box {
    flex-basis: 100%;
  }
}
@media (min-width: 768px) {
  .testimonials .container {
    gap: 28px;
  }
  .testimonials .container .box {
    flex-basis: 48%;
  }
}
@media (min-width: 991px) {
  .testimonials .container .box {
    flex-basis: 48%;
  }
  
}
@media (min-width: 1200px) {
  .testimonials .container .box {
    flex-basis: 31%;
  }
}
.testimonials .container .box .image {
  padding: 8px;
  background-color: #ececec;
  border-radius: 50%;
  font-size: 0;
  position: absolute;
  top: -40.5px; 
  right: 0;
}
.testimonials .container .box .image img {
  width: 65px;
  max-width: 100%;
  border-radius: 50%;
}
.testimonials .container .box .profile-name {
  font-size: 20px;
  font-weight: bold;
  text-transform: capitalize;
}
.testimonials .container .box .job {
  color: #555;
  text-transform: capitalize;
  display: block;
  margin: 10px 0;
}
.testimonials .container .box .stars {
  display: flex;
  gap: 4px
}
.testimonials .container .box .stars .filled{
  color: #FFC205;
}
.testimonials .container .box p {
  line-height: 1.7;
  color: #777;
}
/* End Testimonials */
/* Start team members  */
.team-members {
  padding-top: var(--main-section-padding);
  padding-bottom: var(--main-section-padding);
  background-color: white;
}
.team-members .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}
@media (max-width: 320px) {
  .team-members .container {
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));

  }
  
}
.team-members .container .team-member-box {
  position: relative;
  background-color: white;
  padding-top: 50px;
  z-index: 2;
}
.team-members .container .team-member-box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 20%;
  width: 80%;
  height: 100%;
  background-color: #F3F3F3;
  border-radius: 5px;
  z-index: -1;
  
}
.team-members .container .team-member-box::after {
  content: "";
  position: absolute;
  background-color: #e4e4e4;
  border-radius: 5px;
  top: 0;
  right:0;
  width: 0;
  height: 100%;
  transition: var(--main-transition);
  z-index: -1;
}
.team-members .container .team-member-box:hover::after {
  width:80%;
}
.team-members .container .team-member-box .info {
  display: flex;
  align-items: center;
  z-index: 30;
}
.team-members .container .team-member-box .info img {
  max-width: 85%;
  border-radius: 8px;
  transition: var(--main-transition);
}
.team-members .container .team-member-box:hover img{
  filter: grayscale(100%);
}
.team-members .container .team-member-box .info .social {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  flex: 1;
}
.team-members .container  .info .social  li a i{
  color: #777;
  transition: var(--main-transition);
}
.team-members .container  .info .social  li a {
  padding: 5px;
}
.team-members .container  .info .social  li a:hover i{
  color: var(--main-color);
  
}
.team-members .container .team-member-box .text {
  padding-left: 90px;
}
@media (min-width: 992px) {
  .team-members .container .team-member-box .text {
    padding-left: 110px;
  }
}
@media (min-width: 1200px) {
  .team-members .container .team-member-box .text {
    padding-left: 90px;

  }
}
.team-members .container .team-member-box .text .member-name {
  font-weight: bold;
  font-size: 22px;
  text-transform: capitalize;
  color: var(--main-color);
  margin: 10px 0;
  transition: var(--main-transition);
}
.team-members .container .team-member-box:hover .text .member-name {
  color:#777
}
.team-members .container .team-member-box .text p {
  margin: 0 0 20px ;
}
.team-members .container .team-member-box .text p::first-letter {
  text-transform: uppercase;
}
/* End team members  */

/* Start Animation */
@keyframes up-down {
  0% {
    transform: translateY(0);
  }
  50% {
    transform:translateY(-20px)
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes bouncing {
  0%,
  10%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40%,60% {
    transform: translateY(-15px)
  }
}
@keyframes moving-arrow {
  100% {
    transform: translateX(10px)
  }
}
@keyframes flashing {
  0%,
  40%{
    opacity: 1;
  }
  100%{
    opacity: 0;
    width: 200%;
    height: 200%;
    border-radius: 50%;
  }
}
/* End Animation */